{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
    {% trans 'Forgot your password?' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="text-center mb-5">
                    <h3>{% trans 'Forgot your password?' %}</h3>
                    <p>{% trans 'Enter your email address below, and we`ll email instructions for setting a new one' %}.</p>
                </div>
                <form class="card" method="post">
                    <div class="card-body p-5">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary" type="submit">{% trans 'Send instructions' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}