{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
    {% trans 'Email Sent' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="text-center mb-5">
                    <h3>{% trans 'Check your inbox' %}!</h3>
                    <p>{% trans 'We`ve emailed you instructions for setting your password. You should receive the email shortly' %}.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}